<!-- @dsCard group="Картинки" height=470 subtitle="Галерея картинок телефона с шагами" -->
<div class="ds-wrap">
<p class="pr-ghint">Листай картинки вбок. Нажми на картинку, чтобы увеличить.</p>
<div class="pr-gal"><figure><button type="button" class="pr-shot"><img src="/_blob/e8ec383627ad252128d3683a5deecad7" alt="Кнопка «Поделиться» в Safari"></button><figcaption><b>1</b>Открой svoiludi.ch в Safari и нажми «Поделиться».</figcaption></figure><figure><button type="button" class="pr-shot"><img src="/_blob/a88a145af096652a02cba0cd48418e18" alt="Пункт «На экран „Домой“»"></button><figcaption><b>2</b>Прокрути вниз и выбери «На экран „Домой“».</figcaption></figure><figure><button type="button" class="pr-shot"><img src="/_blob/4209cec6b3d70b2bb03123aa74d02e24" alt="Кнопка «Добавить»"></button><figcaption><b>3</b>Нажми «Добавить» вверху справа.</figcaption></figure></div>
</div>
